{{>header-area}}
<!-- End header area -->
{{>mainmenu}}

<!-- Page content -->
<div class="container">
    <!-- Top views -->
    <h3>Truyện hot&nbsp;<span class="glyphicon glyphicon-fire"></span></h3>
    </br>
    <div class="row">
        {{#each mostViewStoryList}}
            <div class="col-md-6 col-sm-6">
                <div class="single-shop-product">
                    <div class="col-sm-4 col-md-4">
                        <img width="150" height="150" src="{{this.img}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <blockquote>
                            <form id="plusViewForm" action="stories/{{this.id}}" method="POST">
                                <a onclick="this.parentElement.submit()" style="color: black">{{this.name}}</a>
                            </form>
                            <a style="color: black" href="stories/list/author/{{this.author.id}}"><small><cite title="Source Title">{{this.author.name}}&nbsp;<span class="fa fa-pencil"></span></cite></small></a>
                        </blockquote>
                        <a style="color: black" href="stories/list/genre/{{this.genre.id}}"><i class="fa fa-book"></i>&nbsp;{{this.genre.name}}</a>
                        </br>
                        <i class="glyphicon glyphicon-eye-open"></i>&nbsp;{{this.views}}
                        </br>
                        <i class="glyphicon glyphicon-check"></i>&nbsp;{{this.finished}}
                        </br>
                    </div>
                </div>
            </div>
            </br>
        {{/each}}
    </div>
    </br></br>
    <!-- New chapters -->
    <h3>Danh sách truyện mới cập nhật</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Tên chương</th>
            <th scope="col">Tên truyện</th>
        </tr>
        </thead>
        <tbody>
        {{#each newestChapterList}}
            <tr>
                <td><a style="color: black;" href="chapters/{{this.id}}">{{this.name}}</a></td>
                <td><a style="color: black;" href="stories/{{this.story.id}}">{{this.story.name}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </br></br>
    <!--Finished-->
    <h3>Truyện đã hoàn thành&nbsp;<span class="glyphicon glyphicon-menu-right"></span></h3>
    </br>
    <div class="row">
        {{#each finishedStoryList}}
            <div class="col-md-6 col-sm-6">
                <div class="single-shop-product">
                    <div class="col-sm-4 col-md-4">
                        <img width="150" height="150" src="{{this.img}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <blockquote>
                            <form id="plusViewForm" action="stories/{{this.id}}" method="POST">
                                <a onclick="this.parentElement.submit()" style="color: black">{{this.name}}</a>
                            </form>
                            <a style="color: black" href="stories/list/author/{{this.author.id}}"><small><cite title="Source Title">{{this.author.name}}&nbsp;<span class="fa fa-pencil"></span></cite></small></a>
                        </blockquote>
                        <a style="color: black" href="stories/list/genre/{{this.genre.id}}"><i class="fa fa-book"></i>&nbsp;{{this.genre.name}}</a>
                        </br>
                        <i class="glyphicon glyphicon-eye-open"></i>&nbsp;{{this.views}}
                        </br>
                        <i class="glyphicon glyphicon-check"></i>&nbsp;{{this.finished}}
                        </br>
                    </div>
                </div>
            </div>
            </br>
        {{/each}}
    </div>

</div>




<!-- End page content -->

{{>footer-bot}}
<!-- End footer bottom area -->
