<link rel="stylesheet" href="/css/single-story-css.css">
<script src="/js/single-story-js.js"></script>
{{>header-area}}
<!-- End header area -->
{{>mainmenu}}

<!-- Page content -->
<div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{story.img}}" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div id="storyProfileArea" class="profile-head">
                    <h2>{{story.name}}
                        {{#if login}}
                            {{#if checkBookmark}}
                                <i onclick="markedMes();" class="glyphicon glyphicon-bookmark"></i>
                            {{else}}
                                <form id="markForm" action="stories/add-bookmark/{{story.id}}" method="POST">
                                    <a id="markSign" class="fa fa-bookmark-o" onclick="mark()" style="color: black">{{this.name}}</a>
                                </form>
                            {{/if}}
                        {{else}}
                            <i onclick="loginToMark();" class="fa fa-bookmark-o"></i>
                        {{/if}}
                    </h2>
                    <strong>Tác giả:</strong><a style="color: black" href="authors/{{story.author.id}}">&nbsp;{{story.author.name}}&nbsp;</a>
                    </br>
                    <strong>Thể loại:</strong><a style="color: black" href="genres/{{story.genre.id}}">&nbsp;{{story.genre.name}}</a>
                    </br>
                    <strong>Lượt xem:</strong>&nbsp;{{story.views}}
                    </br>
                    <strong>Tình trạng:</strong>&nbsp;{{story.finished}}
                    </br>
                    <div class="newlines">{{story.info}}</div>
                    </br></br>
                    <h4>Danh sách chương</h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <ul>
                    {{#each chapterList}}
                        <form id="historyForm" action="chapters/{{this.id}}"
                              method="POST">
                            <a onclick="this.parentElement.submit()" style="color: black"><li>{{this.name}}</li></a>
                            <!--<button type="submit" class="btn btn-light">Xem truyện</button>-->
                        </form>
                    {{/each}}
                </ul>
            </div>
        </div>
</div>
<!-- End page content -->

{{>footer-bot}}
<!-- End footer bottom area -->
